.flex-container {
    display: flex;
    width: 100vw;
    overflow: hidden;
    padding-top: 80px;
    justify-content: space-around;
}

.flex-container .col {
    width: 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 25px;
    border-radius: 2%;
    background: linear-gradient(to right bottom, hsla(277.2, 15%, 62.2%, 0.18), hsla(254.1, 55.5%, 46.7%, 0.18));
    color: white;
    box-shadow: 5px 5px 4px rgba(203, 120, 255, 0.371), 
    -5px -5px 4px rgba(203, 120, 255, 0.371),
    5px -5px 4px rgba(203, 120, 255, 0.371), 
    -5px 5px 4px rgba(203, 120, 255, 0.371);
    margin-bottom: 15px;
}

.img-container {
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    text-align: center;
}

.img-container img {
    max-height: 100%;
    text-align: center;
}

.title {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    width: 100%;
}

.subtitle {
    margin-top: 3px;
    font-size: 21px;
    text-align: center;
    width: 100%;
    font-weight: 500;
}

.description {
    font-size: 15px;
    text-align: justify;
    width: 100%;
    margin-top: 8px;
}

.img-container:nth-child(1) img {
    background-color: white;
    padding: 5px;
}